[Desktop Entry]
Version=1.0
Name=MirWinSharp
Exec=sh -c "mono /home/awitte/Dev/MirClientWindow/C#/MirClientWindow_CSharp/bin/Debug/MirWinSharp.exe > /home/awitte/Dev/log.txt"
Type=Application
Icon=firefox
Categories=WebBrowser;
StartupNotify=true
